<template>
    <div>
        <table class="begroting_formatie" cellpadding="0" cellspacing="0">
            <thead>
                <formatie-opties></formatie-opties>
                <tr>
                    <th class="personnel_column">Personeel</th>
                    <th class="contracten_column"># Betr.</th>
                    <th class="button_column">&nbsp;</th>
                    <th :class="{'loading': loader}" v-for="(periode, i) in sortedDates.periodesHtml2" class="data_column summary" :key="i">{{periode.start}} &#8660; {{periode.end}}</th>
                    <!--<th v-if="manyPeriodsSelected" v-for="(periode, i) in sortedPeriodes.periodesHtml2" class="data_column summary" :key="i">{{periode.start}} &#8660; {{periode.end}}</th>-->
                    <!--<th v-else v-for="(periode, i) in sortedPeriodes.periodesHtml2" class="data_column summary" :key="i">{{periode.start}}	&#8656;<br>&#8658; {{periode.end}}</th>-->
                    <th :class="{'loading': loader}" class="totals_column">Totaal</th>
                </tr>
                <totals-footer></totals-footer>
            </thead>
            <personeelslid v-for="(personeelslid, i) in sortedPersoneel" :personeelslid="personeelslid" :key="personeelslid.data.id" :index="i"></personeelslid>
            <tfoot>
                <totals-footer></totals-footer>
            </tfoot>
        </table>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';
    import * as actions from '../../stores/formatieStore/types/actions';
    import * as getters from '../../stores/formatieStore/types/getters';
    import * as resources from '../../stores/formatieStore/types/resources';
	import * as sort from '../../stores/formatieStore/types/sort';
	import * as interval from '../../stores/formatieStore/types/intervals';
    import FormatieOpties from './main/FormatieOpties.vue';
    import Personeelslid from './main/Personeelslid.vue';
    import TotalsFooter from './main/TotalenFooter.vue';

    export default{
        methods:{
            ...mapActions({
                loadCaos: resources.LOAD_CAOS,
                loadKostenplaatsen: resources.LOAD_KOSTENPLAATSEN,
                loadFunctiecategorien: resources.LOAD_FUNCTIECATEGORIEN,
                updateJarenAndPeriodes: actions.UPDATE_JAREN_AND_PERIODES,
            })
        },
        computed:{
            ...mapGetters({
                personeelsleden: getters.PERSONEELSLEDEN,
                activeSort: getters.ACTIVESORT,
                activeInterval: getters.ACTIVE_INTERVAL,
                allDates: getters.ALL_DATES,
				intervals: getters.INTERVALS,
                loader: getters.LOADER
            }),
            sortedPersoneel() {
                return this.activeSort.sortFunction(this.personeelsleden);
            },
            sortedDates(){
            	this.updateJarenAndPeriodes(this.sortedPeriodes);
            	return this.sortedPeriodes;
            },
            sortedPeriodes(){
                return this.activeInterval.intervalFunction(this.allDates, this.activeInterval.val);
            }
        },
        components:{
            personeelslid: Personeelslid,
            formatieOpties: FormatieOpties,
            totalsFooter: TotalsFooter
        }
    }
</script>

<style>
</style>