<template>
    <div class="modal-mask" v-if="modal_state" transition="modal">
        <div class="modal-container">
            <div :is="modalComponent"></div>
        </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';
    import * as actions from '../../stores/formatieStore/types/actions';
    import * as getters from '../../stores/formatieStore/types/getters';
    import ModalAddBetrekking from './modals/ModalAddBetrekking.vue';
    import ModalAddVacature from './modals/ModalAddVacature.vue';
    import ModalDates from './modals/ModalDates.vue';
    import ModalDeleteBetrekking from './modals/ModalDeleteBetrekking.vue';
    import ModalDeleteVacature from './modals/ModalDeleteVacature.vue';
    import ModalEditBetrekkingen from './modals/ModalEditBetrekkingen.vue';
    import ModalEditProperties from './modals/ModalEditProperties.vue';
    import ModalSchaal from './modals/ModalSchaal.vue';
    import ModalToelages from './modals/ModalToelages.vue';
    import ModalWtf from './modals/ModalWtf.vue';

    export default{
        mounted(){
            document.addEventListener("keydown", this.escHandler);
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL
            }),
            escHandler(e) {
                if (this.modal_state && e.keyCode === 27) {
                    this.hideModal();
                }
            }
        },
        computed:{
            ...mapGetters({
                modal_state: getters.SHOW_MODAL,
                modalComponent: getters.MODAL_COMPONENT
            })
        },
        components:{
            modalAddBetrekking: ModalAddBetrekking,
            modalAddVacature: ModalAddVacature,
            modalDates: ModalDates,
            modalDeleteBetrekking: ModalDeleteBetrekking,
            modalDeleteVacature: ModalDeleteVacature,
            modalEditBetrekkingen: ModalEditBetrekkingen,
            modalEditProperties: ModalEditProperties,
            modalSchaal: ModalSchaal,
            modalToelages: ModalToelages,
            modalWtf: ModalWtf
        }
    }
</script>

<style>

</style>