<template>
    <div class="edit-wrap" @click.prevent.stop>
        <!--<button type="button"><i class="fa fa-pencil"></i></button>-->
        <ul v-if="betrekking.edit.active" class="actions">
            <li @click="showModalWtf(betrekking)">Wijzig WTF</li>
            <li @click="showModalDates(betrekking)">Wijzig periodebereik</li>
            <li @click="showModalSchaal(betrekking)">Wijzig salarisschaal</li>
            <li @click="showModalToelages(betrekking)">Wijzig toelages</li>
            <li v-if="hasOtherBetrekkingen" @click="showModalDeleteBetrekking(betrekking)">Verwijder betrekking</li>
        </ul>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';

    export default{
        props: {
            betrekking: {
                required: true,
                type: Object
            }
        },
        computed: {
            ...mapGetters({
                personeelsleden: getters.PERSONEELSLEDEN,
                personeelsmap: getters.PERSONEELS_MAP
            }),
            personeelslid() {
                return this.personeelsleden[this.personeelsmap[this.betrekking.data.personeelslid_id]];
            },
            hasOtherBetrekkingen() {
            	this.personeelslid.contracten.forEach(function(contract){
					return contract.betrekkingen.length> 1;
                });
            }
        },
        methods:{
            ...mapActions({
                showModalWtf: actions.SHOW_MODAL_WTF,
                showModalDates: actions.SHOW_MODAL_DATES,
                showModalSchaal: actions.SHOW_MODAL_SCHAAL,
                showModalToelages: actions.SHOW_MODAL_TOELAGES,
                showModalDeleteBetrekking: actions.SHOW_MODAL_DELETE_BETREKKING
            })
        }
    }
</script>
<style></style>