<template>
	<span :class="{'loading': loader}" class="data_column summary">
		<span class="wtf" v-if="display_value_type.wtf && betrekking.amountPerPeriode[periode].wtf"><number4dec :number="betrekking.amountPerPeriode[periode].wtf"></number4dec></span>
		<span class="tu" v-if="display_value_type.tu && betrekking.amountPerPeriode[periode].tu"><number4dec :number="betrekking.amountPerPeriode[periode].tu"></number4dec></span>
		<span class="brutoloon" v-if="display_value_type.brutoloon && betrekking.amountPerPeriode[periode].brutoloon"><number0euro  :number="betrekking.amountPerPeriode[periode].brutoloon"></number0euro></span>
		<span class="werkgeverslasten" v-if="display_value_type.werkgeverslasten && betrekking.amountPerPeriode[periode].werkgeverslasten"><number0euro  :number="betrekking.amountPerPeriode[periode].werkgeverslasten"></number0euro></span>
		<span class="bapo" v-if="display_value_type.bapo && betrekking.amountPerPeriode[periode].bapo"><number4dec  :number="betrekking.amountPerPeriode[periode].bapo"></number4dec></span>
		<span v-if="!display_value_type.werkgeverslasten && !display_value_type.wtf && !display_value_type.brutoloon && !display_value_type.tu && !display_value_type.bapo">&mdash;</span>
	</span>
</template>
<script>
	import {mapGetters} from 'vuex';
	import * as getters from '../../../stores/formatieStore/types/getters';
	import Number0Euro from './Number0Euro.vue';
	import Number4Dec from './Number4Dec.vue';
	export default{
		data(){
			return{
			}
		},
		props: {
			betrekking: {
				required: true,
				type: Object
			},
			periode: {
				required: true,
				type: Number
			}
		},
		computed:{
			...mapGetters({
				display_value_type: getters.DISPLAY_VALUE_TYPE,
				loader: getters.LOADER
			})
		},
		components:{
			number0euro: Number0Euro,
			number4dec: Number4Dec
		}
	}
</script>
<style></style>