<template>
    <div class="mask">
        {{betrekking.edit.mask_text}}
        <i class="fa fa-spinner fa-pulse"></i>
    </div>
</template>
<script>
    export default{
        props: {
            betrekking: {
                required: true,
                type: Object
            }
        }
    }
</script>
<style></style>