<template>
    <tr :class="{'child-row': true, 'disabled': !betrekking.binnen_os_selectie, 'loading': loader}">
		<td colspan="3" :class="{ 'betrekking_column': true, 'active': (betrekking.edit.highlighted || betrekking.edit.active) }"
			@click="betrekking.binnen_os_selectie ?
					toggleEditBetrekking({betrekking_id: betrekking.data.id, personeelslid_id: betrekking.data.personeelslid_id , contract_id: betrekking.data.contract_id })
					: null">
			<span>{{contracts.obj.code}}</span><span>&nbsp;({{contracts.obj.van}}&nbsp;/&nbsp;{{contracts.obj.tot}})</span>

			<span><number4dec :number="betrekking.data.wtf"></number4dec></span>
			<span>{{betrekking.data.personeel_groepering.os_niveaus[0].code}} - {{betrekking.data.personeel_groepering.os_niveaus[0].naam}} </span>
            <betrekkingen-edit v-if="betrekking.binnen_os_selectie && !masked" :betrekking="betrekking"></betrekkingen-edit>
            <betrekkingen-mask v-if="masked" :betrekking="betrekking"></betrekkingen-mask>
            <button v-if="betrekking.binnen_os_selectie && !masked"><i class="fa fa-pencil"></i></button>
        </td>
		<td v-for="(periode, i) in periodes_array">
			<div v-if="checkPeriod(periode)">
				<span class="betrekking-tijdsspan" :style="{ left: timespan_start(periode) + '%', width: timespan_length(periode) + '%' }"></span>
				<betrekking-amounts :betrekking="calculateAmountsPerBetrekking.amounts[betrekking.data.id]" :periode="periode.min" :key="i"></betrekking-amounts>
				<div class="betrekking-info">
					<span><jaar-periode :datum="betrekking.data.begindatum"></jaar-periode>&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;<jaar-periode :datum="betrekking.data.einddatum"></jaar-periode></span>
				</div>
			</div>
		</td>
		<td><betrekking-grand-total :betrekking="calculateAmountsPerBetrekking.amounts[betrekking.data.id]"></betrekking-grand-total></td>
    </tr>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import * as resources from '../../../stores/formatieStore/types/resources';
	import * as amounts from '../../../stores/formatieStore/types/amounts';
    import Number0Euro from './Number0Euro.vue';
    import Number4Dec from './Number4Dec.vue';
    import JaarPeriode from './JaarPriode.vue';
    import BetrekkingenEdit from './BetrekkingenEdit.vue';
    import BetrekkingenMask from './BetrekkingenMask.vue';
    import BetrekkingAmounts from './BetrekkingAmounts.vue';
    import BetrekkingGrandTotal from './BetrekkingGrandTotal.vue';

    export default{
    	data(){
    		return {
				calculateAmounts: amounts.calculateAmounts,
				end_jaar: this.betrekking.data.einddatum.replace('-', '').substr(0, 4),
				end_periode: this.betrekking.data.einddatum.replace('-', '').substr(4, 2),
				start_jaar: this.betrekking.data.begindatum.replace('-', '').substr(0, 4),
				start_periode: this.betrekking.data.begindatum.replace('-', '').substr(4, 2)
			}
		},
        props: {
            betrekking: {
                required: true,
                type: Object
            }
        },
		computed: {
            ...mapGetters({
                    jaren: getters.JAREN,
                    display_value_type: getters.DISPLAY_VALUE_TYPE,
                    personeelsleden: getters.PERSONEELSLEDEN,
                    personeels_map: getters.PERSONEELS_MAP,
					contracten_map: getters.CONTRACTEN_MAP,
					loader: getters.LOADER,
					periodes_array: getters.PERIODES_ARRAY
            }),
            masked() {
                let personeelslid = this.personeelsleden[this.personeels_map[this.betrekking.data.personeelslid_id]];
                    return this.betrekking.edit.masked || personeelslid.edit.masked;
            },
            total() {
                if(this.display_value_type){
                    return (!this.display_value_type.werkgeverslasten && this.display_value_type.brutoloon) ? this.betrekking.totaalBrutoloon : this.betrekking.totaalWerkgeverslasten;
                }else{
                    return 0;
                }
            },
			end_jp(){
            	return parseInt(this.end_jaar + this.end_periode);
			},
			start_jp(){
				return parseInt(this.start_jaar + this.start_periode);
			},
			contracts(){
				let contracts = this.personeelsleden[this.personeels_map[this.betrekking.data.personeelslid_id]].contracten;
				let self = this;
				let arr = [];
				let trede = {};
				let code = '';
				contracts.forEach(function(contract){
					contract.betrekkingen.forEach(function(item){
						if(parseInt(item.data.id) === parseInt(self.betrekking.data.id)){
							arr = contract.data.salaristredes;
						}
					});
				});
				let reduce = function(carry, obj){
					if(obj) {
						if (self.end_jp <= obj.periodrange.max) {
							if(Object.keys(trede).length === 0 ) {
								code = arr[0].van.naam;
								code = code.charAt(1)=== '-'? code.substring(0, 1):code.substring(0, 2);
								trede = {van: arr[0].van.naam, tot: obj.tot.naam, code: code};
							}
						} else {
							carry.push(obj);
						}
						return carry;
					}
				};
				arr = arr.reduce(reduce, []);
				if(Object.keys(trede).length === 0){
						code = arr[0].van.naam;
						code = code.charAt(1)=== '-'? code.substring(0, 1): code.substring(0, 2);
						trede = {van: arr[0].van.naam, tot: arr[arr.length-1].tot.naam, code: code};
				};
				return {obj: {van: trede.van, tot: trede.tot, code: code}};
            },
			calculateAmountsPerBetrekking(){
				return this.calculateAmounts(this.periodes_array, this.betrekking);
			}
        },
        methods: {
            ...mapActions({
                toggleEditBetrekking: resources.TOGGLE_EDIT_BETREKKING
            }),
            timespan_start(periode) {
                let res;
                if (this.start_jp <= periode.min) {
					res = 0;
                    return res;
                }
                res = parseInt(this.start_periode) * 8 - 8;
                return res;
            },
            timespan_length(periode) {
                let timespan_start = this.timespan_start(periode);
                let res;
                if (this.end_jp <= periode.max) {
					res = (parseInt(this.end_periode) * 8) - timespan_start;
                    return res;
                }
                else if (this.end_jp > periode.max) {
                	res = 100 - parseInt(timespan_start);
                    return res;
                }
            },
			checkPeriod(periode){
				let found = false;
				this.betrekking.data.periodes.forEach((item) =>{
					if(item){
						if(item.periodrange.min === periode.min){
							found = true;
						}
					}
				});
				return found;
			}
        },
        components:{
            number0euro: Number0Euro,
            number4dec: Number4Dec,
            jaarPeriode: JaarPeriode,
            betrekkingenEdit: BetrekkingenEdit,
            betrekkingenMask: BetrekkingenMask,
			betrekkingAmounts: BetrekkingAmounts,
			betrekkingGrandTotal: BetrekkingGrandTotal
        }
    }
</script>
<style></style>