<template>
    <tr>
        <th class="add_personnel" @click="showModalAddVacature"><i class="fa fa-plus"></i>&nbsp;&nbsp;<span>Voeg vacature toe</span></th>
        <th :colspan="calculate_colspan+4" class="formatie_options">
        <div>
            <div>
                <span>Sortering:</span>
                <select @change="sortFormatie">
                    <option v-for="(option, index) in sort_options" :value="index" :selected="option.label == 'Op naam'" :key="index">{{option.label}}</option>
                </select>
            </div>
            <div>
                <span>Periodes:</span>
                <select @change="handler($event)">
                    <option v-for="(interval, index) in intervals" :value="index"  :key="index">{{interval.label}}</option>
                </select>
            </div>
            <div>
                <span>Weergeven:</span>
                <label class="labels_options" style="background-color: #f5cdcc;"><input type="checkbox" :checked="display_value_type.wtf" value="wtf" @change="updateDisplayValueType({type: $event.target.value, show: $event.target.checked})">WTF</label>
                <label class="labels_options" style="background-color: #8ee5f3;"><input type="checkbox" :checked="display_value_type.bapo" value="bapo" @change="updateDisplayValueType({ type: $event.target.value, show: $event.target.checked})">Bapo</label>
                <label class="labels_options" style="background-color: #81d8c4;"><input type="checkbox" :checked="display_value_type.tu" value="tu" @change="updateDisplayValueType({type: $event.target.value, show: $event.target.checked})">TU</label>
                <label class="margin_left_headers labels_options" style="background-color: #cccff5;"><input type="checkbox" :checked="display_value_type.brutoloon" value="brutoloon" @change="updateDisplayValueType({type: $event.target.value, show: $event.target.checked})">Brutoloon</label>
                <label class="labels_options" style="background-color: #ead99a;"><input type="checkbox" :checked="display_value_type.werkgeverslasten" value="werkgeverslasten" @change="updateDisplayValueType({ type: $event.target.value, show: $event.target.checked})">Werkgeverslasten</label>
            </div>
        </div>
        </th>
    </tr>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import * as resources from '../../../stores/formatieStore/types/resources';
    export default{
    	data(){
    	    return {
    	    	activeInterval: 0
            }
        },
        methods:{
            ...mapActions({
                updateDisplayValueType: resources.UPDATE_DISPLAY_VALUE_TYPE,
                showModalAddVacature: actions.SHOW_MODAL_ADD_VACATURE,
                sortFormatie: resources.SORT_FORMATIE,
                setInterval: actions.SET_INTERVAL,
                loadData: resources.LOAD_JAREN_AND_PERSONEELSLEDEN
            }),
            isActiveSort(i){
                let sort;
                return sort === this.active_sort;
            },
			getInterval(event){
                this.activeInterval = event.target.value;
			},
            handler(event){
				this.setInterval(event);
				this.getInterval(event);
            }
        },
        computed:{
            ...mapGetters({
                display_value_type: getters.DISPLAY_VALUE_TYPE,
                sort_options: getters.SORT_OPTIONS,
                intervals: getters.INTERVALS,
                context: getters.CONTEXT
            }),
            calculate_colspan(){
				let count = 0;
				let diff = this.context.eind - this.context.begin;
            	let x = diff.toString().substring(0,1);
            	x = parseInt(x)+1;
                if(this.activeInterval <= 2){
                	count  = x*2;
                }else if(this.activeInterval <= 4){
                	count = x*12;
                }
                return count;
            }
        }
    }
</script>
<style>

</style>