<template>
    <span>{{JP}}</span>
</template>
<script>
    export default{
        props: {
            datum: {
                required: true,
                type: String
            }
        },
        computed: {
            /** @return {string} */
            JP() {
                let date = this.datum.split('-');
                return date[0] + '-' + date[1];
            }
        }
    }
</script>
<style>

</style>