<template>
    <span><i class="euro_sign">€</i> {{amount}}</span>
</template>
<script>
    export default{
        props: {
            number: {
                required: true,
                type:Number
            }
        },
        computed: {
            amount() {
                if (this.number || this.number === 0) {
                    return '' + parseInt(this.number).toFixed(0).split('').reverse().join('').match(/.{1,3}/g).join('.').split('').reverse().join('');
                }
                return this.number;
            }
        },
    }
</script>
<style>

</style>