<template>
    <span>{{decimal}}</span>
</template>
<script>
    export default{
        props: {
            number: {
                required: true,
                type: Number
            }
        },
        computed: {
            decimal() {
                if(this.number || this.number === 0) {
                    return parseFloat(this.number).toFixed(4).replace('.', ',');
                }
                return this.number;
            }
        }
    }
</script>
<style></style>