<template>
    <div class="period_selector">
	<table>
		<thead>
			<tr>
				<th></th>
				<th v-for="periode in 12">{{periode}}</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="jaar in jaren">
				<td>{{jaar}}</td>
				<td v-for="periode in 12" :style="{ background: 'rgba(0, 255, 0, ' + period_selected(jaar, periode) + ')' }" v-on:mousedown="set_selected_start(jaar, periode)" v-on:mouseover="set_selected_end(jaar, periode, $event)"></td>
			</tr>
			<tr v-if="infinite">
				<td colspan="12"></td>
				<td :style="{ background: 'rgba(0, 255, 0, ' + period_selected(2999, 12) + ')' }" v-on:mousedown="set_selected_start(2999, 12)" v-on:mouseover="set_selected_end(2999, 12, $event)"><span style="font-size: 19px;">&#x221e;</span></td>
			</tr>
		</tbody>
	</table>
</div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import * as resources from '../../../stores/formatieStore/types/resources';
    export default{
        props: {
            startdate: {
                required: true,
                type: String
            },
            enddate: {
                required: true,
                type: String
            },
            infinite: {
                required: true,
                type: Boolean
            }
        },
        computed: {
            ...mapGetters({
                jaren: getters.JAREN,
                laagste_jaar: getters.LAAGSTE_JAAR
            }),
            jpBegin() {
                let datum = this.startdate.split('-');
                return parseInt(datum[0] + datum[1]);
            },
            jpEind() {
                let datum = this.enddate.split('-');
                return parseInt(datum[0] + datum[1]);
            }
        },
        methods: {
            ...mapActions({
                updateModalData: actions.UPDATE_MODAL_DATA
            }),
            calc_jp_cell(jaar, periode) {
                return parseInt(jaar + (periode < 9 ? '0' : '') + (periode + 1));
            },
            period_selected(jaar, periode) {
                if (!this.startdate || !this.enddate) {
                    return '0.1';
                }

                let jp_cell = this.calc_jp_cell(jaar, periode);
                if (jp_cell >= this.jpBegin && jp_cell <= this.jpEind) {
                    return '0.1';
                }
                return '0';
            },
            set_selected_start(jaar, periode) {
                let datum = jaar + '-' + (periode < 9 ? '0' : '') + (periode + 1) + '-01';
                this.updateModalData({key: 'startdate', value:  jaar == 2999 ? (this.laagste_jaar + '-01-01') : datum});
                this.updateModalData({ key: 'enddate', value: datum});
            },
            set_selected_end(jaar, periode, event) {
                if (!event.buttons) {
                    return false;
                }

                if (this.calc_jp_cell(jaar, periode) >= this.jpBegin && this.jpBegin <= this.jpEind) {
                    this.jpBegin = this.jpEind;
                    this.updateModalData({ key: 'enddate', value: jaar + '-' + (periode < 9 ? '0' : '') + (periode + 1) + '-01'});
                } else {
                    this.updateModalData({key: 'startdate', value: jaar + '-' + (periode < 9 ? '0' : '') + (periode + 1) + '-01'});
                }
            }
        },
    }
</script>
<style></style>