<template>
    <td :class="{'loading': loader}" class="data_column summary">
        <span class="wtf" v-if="display_value_type.wtf && personeelslid.amountPerPeriode[periode].wtf"><number4dec :number="personeelslid.amountPerPeriode[periode].wtf"></number4dec></span>
        <span class="tu" v-if="display_value_type.tu && personeelslid.amountPerPeriode[periode].tu"><number4dec :number="personeelslid.amountPerPeriode[periode].tu"></number4dec></span>
        <span class="brutoloon" v-if="display_value_type.brutoloon && personeelslid.amountPerPeriode[periode].brutoloon"><number0euro  :number="personeelslid.amountPerPeriode[periode].brutoloon"></number0euro></span>
        <span class="werkgeverslasten" v-if="display_value_type.werkgeverslasten && personeelslid.amountPerPeriode[periode].werkgeverslasten"><number0euro  :number="personeelslid.amountPerPeriode[periode].werkgeverslasten"></number0euro></span>
        <span class="bapo" v-if="display_value_type.bapo && personeelslid.amountPerPeriode[periode].bapo"><number4dec  :number="personeelslid.amountPerPeriode[periode].bapo"></number4dec></span>
        <span v-if="!display_value_type.werkgeverslasten && !display_value_type.wtf && !display_value_type.brutoloon && !display_value_type.tu && !display_value_type.bapo">&mdash;</span>
    </td>
</template>
<script>
    import {mapGetters} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import Number0Euro from './Number0Euro.vue';
    import Number4Dec from './Number4Dec.vue';
    export default{
    	data(){
    	    return{
            }
        },
        props: {
            personeelslid: {
                required: true,
                type: Object
            },
            periode: {
                required: true,
                type: Number
            }
        },
        computed:{
            ...mapGetters({
                display_value_type: getters.DISPLAY_VALUE_TYPE,
                loader: getters.LOADER
            })
        },
        components:{
            number0euro: Number0Euro,
            number4dec: Number4Dec
        }
    }
</script>
<style></style>