<template>
    <div class="mask">
    	{{personeelslid.edit.mask_text}}
    	<i class="fa fa-spinner fa-pulse"></i>
    </div>
</template>
<script>
    export default{
        props: {
            personeelslid: {
                required: true,
                type: Object
            }
        }
    }
</script>
<style>
</style>