<template>
    <td :colspan="aantal_jaren" class="data_column graph">grafiekje: 30000 datpunten? ;-)</td>
</template>
<script>
    export default{
        props: {
            personeelslid: {
                required: true,
                type: Object
            },
            aantal_jaren: {
                required: true,
                type: Number
            }
        }
    }
</script>
<style></style>