<template>
    <div class="edit-wrap" @click.prevent.stop>
		<ul v-if="personeelslid.edit.active" class="actions">
			<li @click="showModalEditProperties(personeelslid)">Wijzig eigenschappen</li>
			<li v-if="personeelslid.data.vacature" @click="showModalDeleteVacature(personeelslid)">Verwijder vacature</li>
			<li @click="showModalEditBetrekkingen(personeelslid)">Wijzig betrekkingen</li>
			<li @click="showModalAddBetrekking(personeelslid)">Voeg betrekking toe</li>
		</ul>
	</div>
</template>
<script>
    import {mapActions} from 'vuex';
    import * as actions from '../../../stores/formatieStore/types/actions';
    export default{
        props: {
            personeelslid: {
                required: true,
                type: Object
            }
        },
        methods:{
            ...mapActions({
                showModalEditProperties: actions.SHOW_MODAL_EDIT_PROPERTIES,
                showModalDeleteVacature: actions.SHOW_MODAL_DELETE_VACATURE,
                showModalAddBetrekking: actions.SHOW_MODAL_ADD_BETREKKING,
                showModalEditBetrekkingen: actions.SHOW_MODAL_EDIT_BETREKKING
            })
        }
    }
</script>
<style></style>