<template>
    <td class="data_column details">
        <div v-if="display_value_type.wtf && totalen.wtf">
            <span class="wtf"><number4dec :number="totalen.wtf"></number4dec></span>
            <div class="divider"></div>
            <span class="wtf" v-for="maand in 12"><number4dec :number="totaal_maand(maand).wtf"></number4dec><span class="hover">Periode {{ maand }}</span></span>
        </div>
        <div v-if="display_value_type.tu && totalen.tu">
            <span class="tu"><number4dec :number="totalen.tu"></number4dec></span>
            <div class="divider"></div>
            <span class="tu" v-for="maand in 12"><number4dec :number="totaal_maand(maand).tu"></number4dec><span class="hover">Periode {{ maand }}</span></span>
        </div>
        <div v-if="display_value_type.brutoloon && totalen.brutoloon">
            <span class="brutoloon"><number0euro :number="totalen.brutoloon"></number0euro></span>
            <div class="divider"></div>
            <span class="brutoloon" v-for="maand in 12"><number0euro :number="totaal_maand(maand).brutoloon"></number0euro><span class="hover">Periode {{ maand }}</span></span>
        </div>
        <div v-if="display_value_type.werkgeverslasten && totalen.werkgeverslasten">
            <span class="werkgeverslasten"><number0euro :number="totalen.werkgeverslasten"></number0euro></span>
            <div class="divider"></div>
            <span class="werkgeverslasten" v-for="maand in 12"><number0euro :number="totaal_maand(maand).werkgeverslasten"></number0euro><span class="hover">Periode {{ maand }}</span></span>
        </div>
        <div v-if="display_value_type.bapo && totalen.bapo">
            <span class="bapo"><number4dec :number="totalen.bapo"></number4dec></span>
            <div class="divider"></div>
            <span class="bapo" v-for="maand in 12"><number4dec :number="totaal_maand(maand).bapo"></number4dec><span class="hover">Periode {{ maand }}</span></span>
        </div>
        <span v-if="!display_value_type.werkgeverslasten && !display_value_type.wtf && !display_value_type.brutoloon && !display_value_type.tu && !display_value_type.bapo">&mdash;</span>
    </td>
</template>
<script>
    import {mapGetters} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import Number4Dec from './Number4Dec.vue';
    import Numeber0Euro from './Number0Euro.vue';
    export default {
        props: {
            personeelslid: {
                required: true,
                type: Object
            },
            jaar: {
                required: true,
                type: Number
            }
        },
        computed:{
            ...mapGetters({
                display_value_type: getters.DISPLAY_VALUE_TYPE
            }),
            totalen() {
                return this.personeelslid.totalen[this.jaar];
            }
        },
        methods: {
            totaal_maand(maand) {
                return this.totalen.maanden[maand];
            }
        },
        components:{
            number4dec: Number4Dec,
            number0euro: Numeber0Euro
        }
    }
</script>
<style></style>