<template>
 <tbody>
  <tr class="parent-row">
		<td :class="{'personnel_column':true, 'active': (personeelslid.edit.active || personeelslid.edit.highlighted || highlighted)}" @click="toggleEditPersoneelslid(personeelslid.data.id)">
			<span>{{personeelslid.data.personeelsnummer}}</span>
			<span :class="{'loading': loader}" class="functiecategorie">{{functies}}</span>
			<span>{{personeelslid.data.naam}}<span v-if="personeelslid.data.vacature"> (Vacature)</span></span>
			<personeelslid-edit v-if="!personeelslid.edit.masked" :personeelslid="personeelslid"></personeelslid-edit>
			<personeelslid-mask v-if="personeelslid.edit.masked" :personeelslid="personeelslid"></personeelslid-mask>
			<button type="button"><i class="fa fa-pencil"></i></button>
		</td>
		<td class="contracten_column" @click="toggleBetrekkingen(personeelslid.data.id)" :class="{'active': personeelslid.showBetrekkingen, 'loading': loader}">
			{{personeelslid.betrekking_current.length}}&nbsp;/&nbsp;{{personeelslid.betrekkingen_total.length}}
		</td>
	  	<view-toggler :personeelslid="personeelslid"></view-toggler>
		<component v-if="singleRender" :is="personeelslid.detail.view" :personeelslid="personeelslid" :aantal_jaren="jaren.length"></component>
		<component v-else v-for="(periode, i) in periodes_array" :is="personeelslid.detail.view" :personeelslid="calculateAmountsPerPerson.amounts[personeelslid.data.id]" :periode="periode.min" :key="i"></component>
	  	<personeelslidTotalAmounts :personeelslid="calculateAmountsPerPerson.amounts[personeelslid.data.id]"></personeelslidTotalAmounts>
	</tr>
 	 <betrekking v-if="personeelslid.showBetrekkingen" v-for="(betrekking, i) in personeelslid.betrekkingen_total" :betrekking="betrekking" :key="i"></betrekking>
 </tbody>
</template>
<script>
 import {mapGetters} from 'vuex';
 import {mapActions} from 'vuex';
 import * as getters from '../../../stores/formatieStore/types/getters';
 import * as actions from '../../../stores/formatieStore/types/actions';
 import * as resources from '../../../stores/formatieStore/types/resources';
 import * as amounts from '../../../stores/formatieStore/types/amounts';
 import PersoneelslidEdit from './PersoneelslidEdit.vue';
 import PersoneelslidMask from './PersoneelslidMask1.vue';
 import ViewToggler from './ViewToggler.vue';
 import Number0Euro from './Number0Euro.vue';
 import Betrekking from './Betrekking.vue';
 import PersoneelslidDetailsGraph from './PersoneelslidDetailsGraph.vue';
 import PersoneelslidDetailsJaren from './PersoneelslidDetailsJaren.vue';
 import PersoneelslidDetailsPeriodes from './PersoneelslidDetailsPeriodes.vue';
 import PersoneelslidTotalAmounts from './PersoneelslidTotalAmounts.vue';

 export default{
 	data(){
 		return{
				calculateAmounts: amounts.calculateAmounts
		}
	},
     props: {
         personeelslid: {
             required: true,
             type: Object
         },
		 index:[Number] //for TEST purpose - please remove prior deployment
     },
     methods: {
         ...mapActions({
             toggleBetrekkingen: resources.TOGGLE_BETREKKINGEN,
             toggleEditPersoneelslid: resources.TOGGLE_EDIT_PERSONEELSLID,
			 storeAmounts: actions.STORE_AMOUNTS,
         })
     },
     computed: {
         ...mapGetters({
             display_value_type: getters.DISPLAY_VALUE_TYPE,
             periodes_array: getters.PERIODES_ARRAY,
			 loader: getters.LOADER
         }),
         functies() {
         	let functies = this.personeelslid.functiesCodes;
			functies = functies.filter( function( item, index, inputArray ) {
				return inputArray.indexOf(item) == index;
			});
			 return functies.join(' / ');
         },
         highlighted() {
         	this.personeelslid.contracten.forEach(function(contract){
         		return contract.betrekkingen.reduce(function(carry, betrekking){
         			carry = (carry || betrekking.edit.highlighted);
         			return carry;
				}, false);
			});
         },
		 singleRender() {
             return this.personeelslid.detail.view === 'personeelslid-details-graph';
		 },
		 calculateAmountsPerPerson(){
			 return this.calculateAmounts(this.periodes_array, this.personeelslid);
		 }
     },
     mounted(){
		 this.storeAmounts(this.calculateAmounts(this.periodes_array, this.personeelslid));
	 },
     components:{
         personeelslidEdit: PersoneelslidEdit,
		 personeelslidMask: PersoneelslidMask,
		 viewToggler: ViewToggler,
		 number0euro: Number0Euro,
		 betrekking: Betrekking,
		 personeelslidDetailsGraph: PersoneelslidDetailsGraph,
		 personeelslidDetailsPeriodes: PersoneelslidDetailsPeriodes,
		 personeelslidDetailsJaren: PersoneelslidDetailsJaren,
		 personeelslidTotalAmounts: PersoneelslidTotalAmounts
	 }
 }

</script>
<style></style>