<template>
	<tr :class="{'loading': loader}">
		<th class="totals">Totalen:</th>
		<th colspan="2"></th>
		<th v-for="(frame, i) in periodes" class="data_column summary" :key="i">
			<span class="wtf" v-if="display_value_type.wtf "><number4dec :number="calucalteTotals(frame, display_value_type).wtf"></number4dec></span>
			<span class="tu" v-if="display_value_type.tu "><number4dec :number="calucalteTotals(frame, display_value_type).tu"></number4dec></span>
			<span class="brutoloon" v-if="display_value_type.brutoloon"><number0euro  :number="calucalteTotals(frame, display_value_type).brutoloon"></number0euro></span>
			<span class="werkgeverslasten" v-if="display_value_type.werkgeverslasten "><number0euro  :number="calucalteTotals(frame, display_value_type).werkgeverslasten"></number0euro></span>
			<span class="bapo" v-if="display_value_type.bapo"><number4dec  :number="calucalteTotals(frame, display_value_type).bapo"></number4dec></span>
			<span v-if="!display_value_type.werkgeverslasten && !display_value_type.wtf && !display_value_type.brutoloon && !display_value_type.tu && !display_value_type.bapo">&mdash;</span>
		</th>
		<th class="totals_column summary">
			<span class="wtf" v-if="display_value_type.wtf "><number4dec :number="calculateGrandTotals(display_value_type).wtf"></number4dec></span>
			<span class="tu" v-if="display_value_type.tu "><number4dec :number="calculateGrandTotals(display_value_type).tu"></number4dec></span>
			<span class="brutoloon" v-if="display_value_type.brutoloon"><number0euro  :number="calculateGrandTotals(display_value_type).brutoloon"></number0euro></span>
			<span class="werkgeverslasten" v-if="display_value_type.werkgeverslasten "><number0euro  :number="calculateGrandTotals( display_value_type).werkgeverslasten"></number0euro></span>
			<span class="bapo" v-if="display_value_type.bapo"><number4dec  :number="calculateGrandTotals(display_value_type).bapo"></number4dec></span>
			<span v-if="!display_value_type.werkgeverslasten && !display_value_type.wtf && !display_value_type.brutoloon && !display_value_type.tu && !display_value_type.bapo">&mdash;</span>
		</th>
	</tr>
</template>

<script>
	import {mapGetters} from 'vuex';
	import {mapActions} from 'vuex';
	import * as getters from '../../../stores/formatieStore/types/getters';
	import * as actions from '../../../stores/formatieStore/types/actions';
	import * as resources from '../../../stores/formatieStore/types/resources';
	import Number0Euro from './Number0Euro.vue';
	import Number4Dec from './Number4Dec.vue';

	export default{
			computed:{
				...mapGetters({
					amounts: getters.AMOUNTS_PERSONEELSLEDEN,
					periodes: getters.PERIODES_ARRAY,
					display_value_type: getters.DISPLAY_VALUE_TYPE,
					max_year: getters.CONTEXT,
					loader: getters.LOADER
				})

			},
			methods:{
				calucalteTotals(periode, type){
					let wtf= [],
						tu= [],
						brutoloon= [],
						bapo= [],
						werkgeverslasten= [];
					let total = function(arr){
						let sum = arr.reduce((acc, cur) => acc + cur, 0);
						return sum;
					};
					for(let key in this.amounts){
						if(this.amounts.hasOwnProperty(key)) {
							let value = this.amounts[key];
							if(value.amountPerPeriode[periode.min]) {
								if (type.wtf) {
									wtf.push(value.amountPerPeriode[periode.min].wtf);
								}
								if (type.tu) {
									tu.push(value.amountPerPeriode[periode.min].tu);
								}
								if (type.bapo) {
									bapo.push(value.amountPerPeriode[periode.min].bapo);
								}
								if (type.brutoloon) {
									brutoloon.push(value.amountPerPeriode[periode.min].brutoloon);
								}
								if (type.werkgeverslasten) {
									werkgeverslasten.push(value.amountPerPeriode[periode.min].werkgeverslasten);
								}
							}
						}
					}
					return {wtf: (total(wtf)), werkgeverslasten: total(werkgeverslasten), brutoloon: total(brutoloon), tu: total(tu), bapo: total(bapo)};
				},
				calculateGrandTotals(type){
					let wtf= [],
						tu= [],
						brutoloon= [],
						bapo= [],
						werkgeverslasten= [];
					let total = function(arr){
						let sum = arr.reduce((acc, cur) => acc + cur, 0);
						return sum;
					};
					for(let key in this.amounts){
						if(this.amounts.hasOwnProperty(key)) {
							let value = this.amounts[key];
							if(value.totaalAmounts[this.max_year.eind]) {
								if (type.wtf) {
									wtf.push(value.totaalAmounts[this.max_year.eind].wtf);
								}
								if (type.tu) {
									tu.push(value.totaalAmounts[this.max_year.eind].tu);
								}
								if (type.bapo) {
									bapo.push(value.totaalAmounts[this.max_year.eind].bapo);
								}
								if (type.brutoloon) {
									brutoloon.push(value.totaalAmounts[this.max_year.eind].brutoloon);
								}
								if (type.werkgeverslasten) {
									werkgeverslasten.push(value.totaalAmounts[this.max_year.eind].werkgeverslasten);
								}
							}
						}
					}
					return {wtf: (total(wtf)), werkgeverslasten: total(werkgeverslasten), brutoloon: total(brutoloon), tu: total(tu), bapo: total(bapo)};
				}
			},
		components:{
			number0euro: Number0Euro,
			number4dec: Number4Dec
		}
	}
</script>
<style>

</style>
