<template>
    <td :class="{ 'button_column': true, 'active': personeelslid.detail.active }" @click="toggleViewPersoneelslid(personeelslid.data.id)">
		<i :class="active_display_class"></i>
		<ul v-if="personeelslid.detail.active">
			<li @click="togglePersoneelsDetailView({personeelslid_id: personeelslid.data.id, view: 'personeelslid-details-graph'});" v-if="!graph_active"><i class="fa fa-area-chart"></i></li>
			<li @click="togglePersoneelsDetailView({personeelslid_id: personeelslid.data.id, view: 'personeelslid-details-jaren'});" v-if="!jaren_active"><i class="fa fa-ellipsis-h"></i></li>
			<li @click="togglePersoneelsDetailView({personeelslid_id: personeelslid.data.id, view: 'personeelslid-details-periodes'});" v-if="!periodes_active"><i class="fa fa-table"></i></li>
		</ul>
	</td>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import * as resources from '../../../stores/formatieStore/types/resources';
    export default{
        props: {
            personeelslid: {
                required: true,
                type: Object
            }
        },
        computed: {
            graph_active() {
                return this.personeelslid.detail.view == 'personeelslid-details-graph';
            },
            jaren_active() {
                return this.personeelslid.detail.view == 'personeelslid-details-jaren';
            },
            periodes_active() {
                return this.personeelslid.detail.view == 'personeelslid-details-periodes';
            },
            active_display_class() {
                switch (this.personeelslid.detail.view) {
                    case 'personeelslid-details-graph':
                        return 'fa fa-area-chart';
                    case 'personeelslid-details-jaren':
                        return 'fa fa-ellipsis-h';
                    case 'personeelslid-details-periodes':
                        return 'fa fa-table';
                    default:
                        return 'fa fa-close';
                }
            }
        },
        methods:{
            ...mapActions({
                togglePersoneelsDetailView: resources.TOGGLE_PERSONEELS_DETAIL_VIEW,
                toggleViewPersoneelslid: resources.TOGGLE_VIEW_PERSONEELSLID
            })
        }
    }
</script>
<style>

</style>