#dtps_app_formatie{
}
.begroting_formatie {
	background-color: #ffffff;
	/*width: 100%;*/
	display: block;
	max-width: 100%;
	/*overflow-x: auto;*/
	/*overflow-y: hidden;*/
	/*border-collapse: separate;*/
	/*border-spacing: 0;*/
}
.begroting_formatie th,
.begroting_formatie td {
	border: 1px solid #bed7eb;
	box-sizing: border-box;
	padding: 5px 10px;
	position: relative;
}
.begroting_formatie th {
	background-color: #bed7eb;
	font-weight: bold;
}
.begroting_formatie thead tr:first-child th {
	border-bottom: 1px solid #fff;
	padding: 10px;
}
.begroting_formatie i {
	cursor: pointer;
}
.begroting_formatie i.fa-long-arrow-right {
	cursor: auto;
}
.begroting_formatie span {
	position: relative;
}

/* classes */
.begroting_formatie thead .totals,
.begroting_formatie tfoot .totals {
	min-width: 300px;
	max-width: 500px;
}

.begroting_formatie .active {
	background-color: #deeaf5;
}
.begroting_formatie .disabled {
	opacity: .5;
}

.divider {
	background-color: #011d47;
	height: 1px;
	margin: 2px 0;
	width: 100%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.button {
	background-color: #5c9acd;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
	padding: 0 25px;
}
.button:hover {
	background-color: #011d47;
}
.button.right {
	float: right;
}
.button.left {
	float: left;
}

.mask {
	background-color: rgba(0, 0, 0, 0.5);
	color: #eeeeee;
	cursor: auto;
	font-size: 15px;
	height: 100%;
	left: 0;
	position: absolute;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 99;
}
.mask i {
	margin: 4px 7px;
}

.euro_sign {
	font-style: normal;
}

/* formatie options */
.formatie_options select {
	border-color: #bed7eb;
}
.formatie_options > div > div {
	display: inline-block;
	margin-left: 10px;
}
.formatie_options > div > div:first-child {
	margin: 0;
}
.formatie_options > div > div > span {
	display: block;
	margin-bottom: 2px;
}
.formatie_options > div > div > label {
	border: 1px solid #bed7eb;
	border-radius: 5px;
	display: inline-block;
	padding: 3px 5px;
}
.margin_left_headers{
	margin-left: 30px;
}
/* edit-wrap */
.begroting_formatie .edit-wrap {
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 5px;
}
/*.begroting_formatie .edit-wrap button {*/
	/*background: none;*/
	/*border: none;*/
	/*text-decoration: none;*/
	/*cursor: pointer;*/
/*}*/
.begroting_formatie .parent-row button {
	background: none;
	border: none;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
}

.begroting_formatie .edit-wrap .actions {
	background-color: #deeaf5;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	position: absolute;
	white-space: nowrap;
	z-index: 999;
}
.begroting_formatie .edit-wrap .actions li {
	padding: 5px 10px;
}
.begroting_formatie .edit-wrap .actions li:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.begroting_formatie .edit-wrap .actions li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.begroting_formatie .edit-wrap .actions li:hover {
	background-color: #bed7eb;
}

/* add_personnel */
.add_personnel {
	cursor: pointer;
	min-width: 300px;
	max-width: 500px;
}
.add_personnel span {
	display: none;
}
.add_personnel:hover span {
	display: inline;
}

/* personnel_column */
.begroting_formatie .personnel_column {
	border-left: 1px solid #bed7eb;
	min-width: 300px;
	max-width: 500px;
	padding: 5px 30px 5px 10px;
}
.begroting_formatie .personnel_column > span {
	border-left: 1px solid #bed7eb;
	display: inline-block;
	padding: 0 10px;
}
.begroting_formatie .personnel_column > span:first-child {
	border: none;
	padding-left: 0;
}
.begroting_formatie .personnel_column > span.functiecategorie {
	display: inline-block;
	min-width: 26px;
	text-align: left;
}
.begroting_formatie td.personnel_column:hover {
	background-color: #bed7eb;
	cursor: pointer;
}

/* contracten_column */
.begroting_formatie .contracten_column {
	text-align: center;
	width: 60px;
}
.begroting_formatie td.contracten_column {
	cursor: pointer;
}
.begroting_formatie td.contracten_column:hover {
	background-color: #bed7eb;
}
/* totals_column */
.begroting_formatie .totals_column {
	padding-left: 30px;
}

.begroting_formatie .totals_column > span,
.begroting_formatie .totals_column > div > span {
	display: block;
	min-width: 100px;
}

/* data_column */
.begroting_formatie .data_column {
	border-left: none;
	border-right: none;
	min-width: 100px;

}
.begroting_formatie td.data_column,
.begroting_formatie span.data_column,
.begroting_formatie tfoot th.data_column,
.begroting_formatie thead tr:last-child th.data_column {
	padding-left: 30px;
}
.begroting_formatie .data_column > span,
.begroting_formatie .data_column > div > span > span {
	display: block;
}
.begroting_formatie span.data_column {
	display: inline-block;
}
.begroting_formatie .data_column > div > span .hover {
	background-color: #deeaf5;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.begroting_formatie .data_column > div > span:hover .hover {
	display: block;
}

.begroting_formatie .data_column.details > div {
	margin: 15px 0 0;
}
.begroting_formatie .data_column.details > div:first-child {
	margin: 0;
}

.begroting_formatie span.wtf:before,
.begroting_formatie span.tu:before,
.begroting_formatie span.brutoloon:before,
.begroting_formatie span.werkgeverslasten:before,
.begroting_formatie span.bapo:before {
	content: ' ';
	height: 10px;
	left: -15px;
	position: absolute;
	top: 1px;
	width: 10px;
}
.begroting_formatie span.wtf:before {
	background-color: #f5cdcc;
}
.begroting_formatie span.tu:before {
	background-color: #81d8c4;
}
.begroting_formatie span.brutoloon:before {
	background-color: #cccff5;
}
.begroting_formatie span.werkgeverslasten:before {
	background-color: #ead99a;
}
.begroting_formatie span.bapo:before {
	background-color: #8ee5f3;
}

.begroting_formatie .betrekking-tijdsspan {
	background-color: rgba(0, 255, 0, 0.1);
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
}

/* button_column */
.begroting_formatie .button_column {
	cursor: pointer;
	padding: 0 9px 0 10px;
	text-align: center;
	width: 30px;
}
.begroting_formatie .button_column ul {
	background: #ffffff;
	height: 100%;
	left: calc(100% + 1px);
	position: absolute;
	top: 0;
	width: 200%;
	z-index: 1;
}
.begroting_formatie .button_column ul li {
	align-items: center;
	border-right: 1px solid #bed7eb;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	justify-content: center;
	float: left;
	height: 100%;
	width: 50%;
}
.begroting_formatie .button_column.active,
.begroting_formatie .button_column:hover,
.begroting_formatie .button_column ul li:hover {
	background-color: #bed7eb;
}

/* child-row */
.begroting_formatie .child-row {
	background-color: #f8f8f8;
}
.begroting_formatie .child-row button{
	background: none;
	border: none;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
}
.begroting_formatie .child-row td {
	border-bottom: none;
	border-top: none;
	/*padding: 3px 0 3px 22px;*/
}
.begroting_formatie .child-row:last-child td {
	border-bottom: 1px solid #bed7eb;
}
.begroting_formatie .child-row td > span {
	display: block;
}
.begroting_formatie .child-row td.betrekking_column {
	cursor: pointer;
	padding: 5px 25px 5px 10px;
}
.begroting_formatie .child-row td.betrekking_column span {
	border-left: 1px solid #bababa;
	display: inline-block;
	padding: 0 10px;
}
.begroting_formatie .child-row td.betrekking_column span:first-child {
	border: none;
	padding-left: 0;
}
.begroting_formatie .child-row td.betrekking_column.active,
.begroting_formatie .child-row td.betrekking_column:hover {
	background-color: #e3e3e3;
}
.begroting_formatie .child-row .betrekking_column{
	border-left: 1px solid #bababa;
}
/* Vue popup modal */
.modal-mask {
	align-items: center;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transition: opacity .3s ease;
	width: 100%;
	z-index: 9998;
}

.modal-container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	font-family: Helvetica, Arial, sans-serif;
	min-width: 400px;
	padding: 20px 30px;
	transition: all .3s ease;
}

.modal-container table {
	width: 100%;
}
.modal-container th,
.modal-container td {
	border: 1px solid #bed7eb;
	margin: 0;
	padding: 4px 10px;
	outline: none;
	white-space: normal;
}

.modal-container th {
	background-color: #deeaf5;
	font-weight: bold;
}

.modal-container table input {
	margin: 6px 0;
}
.modal-container select,
.modal-container input {
	background-color: #deeaf5;
	border: none;
	border-radius: 5px;
	height: 20px;
}
.modal-container select {
	cursor: pointer;
}
.modal-container select.error, .modal-container input.error {
	border-color: #E21D37;
	background-color: #F9D1D6;
	color: #E21D37;
}

.modal-header {
	overflow: auto;
}
.modal-header-reference {
	font-weight: bold;
}
.modal-header-description {
	display: inline-block;
	float: right;
}

.modal-body {
	margin: 20px 0;
}
.modal-body > div {
	margin: 10px 0;
}
.modal-body > div:first-child {
	margin: 0;
}
.modal-body > div select,
.modal-body > div input {
	margin: 0 5px 0 0;
}

/* Transitions */
.modal-enter, .modal-leave {
	opacity: 0;
}
.modal-enter .modal-container,
.modal-leave .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* Period selector */
.period_selector {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.period_selector table {
	border: 1px solid #bed7eb;
}
.period_selector tr {
	height: 25px;
}
.period_selector td,
.period_selector th {
	border: none;
	padding: 0;
}
.period_selector th:first-child,
.period_selector td:first-child {
	cursor: auto;
	font-weight: bold;
	padding: 0 10px;
}
.period_selector th {
	background-color: transparent;
	font-weight: bold;
	text-align: center;
	width: 25px;
}
.period_selector th:first-child {
	width: auto;
}
.period_selector td {
	border: 1px solid #bed7eb;
	cursor: pointer;
}
.period_selector td:hover {
	background-color: rgba(0, 155, 0, 0.1)!important;
}
.period_selector td:first-child:hover {
	background-color: transparent!important;
}
.period_selector tr:last-child td:last-child {
	text-align: center;
}

.betrekking-info {
	background-color: white;
	cursor: default;
	display: none;
	height: 100%;
	left: 0;
	line-height: 24px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10;
}
td:hover .betrekking-info {
	display: block;
}
.loading{
	color: #e6e6e6 !important;
	/*background-color: rgba(250, 250, 250, 0.1) !important;*/
}

/*___________TEST RENDERING ___________________*/
[v-cloak] .v-cloak--hidden {
	display: none!important;
}
