.dtps_quick_menu > div > span {
    cursor: default !important;
}
#dtps_groepering_tables{
    background-color: #5C9BCD;
    border-radius:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    color: #ededed;
    height: 403px;
}
.dtps_groeperingen_level_box{
    color: #353434;
    /*height: 380px;*/
    /*width: 100%;*/
}

.dtps_groeperingen_level_box_full{
    margin:4px 0 0 4px;
    width: 19%;
    float: left;

}
.dtps_groeperingen_level_box_full p{
    text-align: center;
    background-color: #011d47;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    -moz-border-radius:5px 5px 0 0;
    padding: 6px 1px 6px 1px;
    color: #ededed;
    font-size: 12px;
}
.dtps_groeperingen_level_box_full ul{
    padding: 1px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    height: auto;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #f9f9f9;
    border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
}
.dtps_groeperingen_level_box_full ul li{
    padding: 18px;
    border-bottom: 1px solid #fff;
    position: relative;
}
.dtps_groeperingen_level_box_full ul li div:nth-child(1) {
    float: right;
    font-size: 14px;
}
.dtps_groeperingen_level_box_full ul li div:nth-child(2) {
}
.dtps_groeperingen_level_box_full ul li span{
    position: absolute;
    display: inline-block;
    top:0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
}
.can_be_linked{
    background: #B7CDEC;
    opacity: 0.3;
    /*border-radius: 10px 10px;*/
    /*-webkit-border-radius: 10px 10px;*/
    /*-moz-border-radius: 10px 10px;*/
}
.dtps_groeperingen_level_box_empty{
    text-align: center;
    color: #fff;
    padding: 5px;
}
.scrollIt{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 368px;
    width: 100%;
}
.scrollItSmall{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 160px;
    width: 97%;
}
/*Scroll bar nav*/
::-webkit-scrollbar{
    width: 6px;
    background-color: #f5f5f5;
}

/*!* Track *!*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#f5f5f5;
}

/*!* Handle *!*/
::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-border-radius: 5px;
    background: #5B759C;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}
.selected{
    background-color: #CFDEF5;
}
.selectedLevel{
    background-color: #eafbb6;
}
.disabled_test{
    background-color: #EBF3F9!important;
    opacity: 0.3;
    cursor: not-allowed;
    /*visibility: hidden;*/
}
.tables_container{
    position: relative;
}
.dtps_gropering{
    display: flex;
    width:100%;
    height: 206px;
    background-color: #5C9BCD;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    color: #ededed;
}
.dpts_table_logs{
    width: 100%;
    margin: 5px;
    color: #868686;
    height: 186px;
    background-color: #f9f9f9;
    border-radius:0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    padding: 5px;
    text-align: left;

}
.dtps_table_logs ul{
    padding: 4px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
}
.dpts_table_logs ul li{
    padding: 15px 0 10px 15px;
    border-bottom: 1px solid #fff;
    cursor: default;
}

.dpts_table_groeperingen{
    width: 50%;
    margin: 4px;
    color: #868686;
    height: 190px;
    background-color: #f9f9f9;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    padding: 4px;
    text-align: center;
}
.drop_element{
   height: 100%;
}
.drop_area{
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #5C9BCD;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.drop_area span{
    position: absolute;
    top: 5px;
    left: 10px;
}

.dtps_table_logs p{
    padding: 5px;
    border-bottom: 1px solid #5C9BCD;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.dpts_table_groeperingen ul{
    padding: 4px;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
}
.dpts_table_groeperingen ul li{
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #fff;
}
.dpts_table_groeperingen ul li div{
    float:left;
    width: 25%;
    height: auto;
}
.dtps_gekoppeld{
    display: flex;
    width:100%;
    height: auto;
    background-color: #011d47;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    color: #ededed;
    margin-top: 2px;
    text-align: center;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.dtps_gekoppeld_totals{
    padding: 5px;
    width: 25%;
    margin: 2px 0 2px 0;
    font-size: 15px;
}
.dtps_gekoppeld_selected{
    margin: 2px;
    padding: 5px;
}
.pull-right{
    text-align: right;
    margin-right: 4px;
}
.pull-left{
    text-align: left;
    margin-right: 140px;
}
.flip-list-move{
    transition: transform 0.5s;
}
.no-move{
    transition: transform 0s;
}
.list-group{
    min-height: 40px;
}
.log_group{
    clear: both;
}
.list-group-item{
    cursor: move;
    clear: both;
}

.list-group-item:hover{
    background-color: #CFDEF5;
}
.undo_log{
    float: right;
    margin-right: 3em;
    /*padding: 10px;*/
    /*background-color: #5C9BCD;*/
    border: none;
    font-size: 14px;
}
.undo_log:hover{
    /*background-color:  #011d47;*/
    /*color:white;*/
    cursor: pointer;

}
.first_log_item:hover{
    background-color: #CFDEF5;

}
.slide-enter{
    opacity: 0;
}
.slide-enter-active{
    animation: slide-in 0.5s ease-out forwards;
    transition: opacity 0.5s;
}
.slide-leave{

}
.slide-leave-active{
    animation: slide-out 0.5s ease-out forwards;
    transition: opacity 0.5s;
    opacity: 0;
}
.slide-move{
    transition: transform 1s;
}
@keyframes slide-in {
    from {
        transform: translateY(-10px);
    }to{
         transform: translateY(0);
     }
}
@keyframes slide-out{
    from {
        transform: translateY(0);
    }to{
         transform: translateY(-10px);
     }
}
