<template>
    <div>
        {{errors}}
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import * as types from '../../stores/groeperingStore/types';
    export default{
        data(){
            return {

            }
        },
        computed:{
            ...mapGetters({
               errors: types.ERRORS
            })
        },
        methods:{

        }
    }

</script>
<style scoped src="../../css-mixins/niveaus_groepering.css">
</style>