<template>
    <div>
        <div class="dtps_gekoppeld" @click="openPannel"  v-bind:title="titleText">
            <div class="dtps_gekoppeld_selected pull-left">Geselecteerde niveau: {{ (selectedItem.parent? selectedItem.parent.naam+ ' > ': '' )}}{{selectedItem.naam}}</div><div></div>
            <div class="dtps_gekoppeld_totals">Aantal gekkopelde groeperingen: {{selectedItem.financieel_groeperingen.length + selectedItem.personeel_groeperingen.length}}
            </div>
            <div class="dtps_gekoppeld_totals pull-right"><span v-html="icon" ></span></div>
        </div>
        <transition name="slide" type="transition" appear>
        <div class="dtps_gropering" v-if="show">
            <groepering-list
                    :list = "selectedItem.financieel_groeperingen"
                    :from = "selectedItem.naam"
                    :from_obj = "selectedItem"
                    :location = "financieel_groeperingen"
                    :subtitle = "subtitle1"
                    :action = "action"
            ></groepering-list>
            <groepering-list
                    :list = "selectedItem.personeel_groeperingen"
                    :from = "selectedItem.naam"
                    :from_obj = "selectedItem"
                    :location = "personeel_groeperingen"
                    :subtitle = "subtitle2"
                    :action="action"
            ></groepering-list>
        </div>
        </transition>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import GroeperingList from './GroeperingenList.vue';
    import * as types from '../../stores/groeperingStore/types';

    export default{
        data(){
            return {
                show: false,
                icon: '&plus;',
                scroll: false,
                financieel_groeperingen: "financieel_groeperingen",
                subtitle1: "Financieele Groeperingen",
                personeel_groeperingen: "personeel_groeperingen",
                subtitle2: "Personeel Groeperingen",
                action : "linked",
                title_text: ''
            }
        },
        computed:{
            ...mapGetters({
                  selectedItem: types.SELECTED_ITEM
            }),
            titleText(){
                if (this.show){
                    return this.title_text = 'Klik om te sluiten';
                }else{
                    return this.title_text = 'Klik om te openen';
                }
            }
        },
        methods:{
            openPannel(){
                this.show = !this.show;
                if (this.show === true){
                    this.icon = '&ndash;';
                }else{
                    this.icon = '&plus;';
                }
            }
        },
        components:{
            groeperingList: GroeperingList
        }
    }
</script>
<style scoped src="../../css-mixins/niveaus_groepering.css">
</style>