<template>
    <div class="dpts_table_groeperingen">
        <div class="drop_element" v-on:drop="drop($event, location, action)"  v-on:dragover="allowDrop($event)" v-on:dragend="dragend()">
            <div class="drop_area">
                <span class="fa fa-arrows" aria-hidden="true"> Sleep Groepering</span>
                <div>{{subtitle}} ({{list.length}})</div>
            </div>
            <ul v-if="list.length > 0">
                <div :class="{scrollItSmall: scrollBarShow}">
                    <li class="list-group-item"
                        v-for="(element, key, index) in list"
                        v-bind:data-id="element.id"
                        v-bind:data-naam="element.naam"
                        :key="element.id"
                        v-on:mouseover="switched(index)"
                        draggable="true"
                        v-on:dragstart="drag($event)">
                        <div class="dimension1">{{ !element.dimension1 && !element.dimension2 && !element.dimension3 ? '(Leeg)' : element.dimension1}}</div>
                        <div class="dimension2">{{ element.dimension2 }}</div>
                        <div class="dimension3">{{ element.dimension3 }}</div>
                    </li>
                </div>
            </ul>
            <ul v-else>
                <li>Geen {{subtitle}} gevonden</li>
            </ul>
        </div>
    </div>
</template>
<script>
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';
    import * as types from '../../stores/groeperingStore/types';
    export default{
        props:[
            'list',
            'location',
            'subtitle',
            'action',
            'from',
            'from_obj'
        ],
        data(){
            return{
                linkIndex:0
            }
        },
        methods:{
            ...mapActions({
                updateList: types.ACTION_UPDATE_LIST,
                switchRenderMode: types.ACTION_TREE_RENDER_MODE,
                origin_obj: types.ACTION_ORIGIN_OBJ
            }),
            allowDrop(ev){
                ev.preventDefault();
            },
            drag(ev){
                    let target_dataset = ev.target.dataset;
                    this.switchRenderMode(target_dataset.naam);
                    ev.dataTransfer.setData("text", JSON.stringify({
                        "id": target_dataset.id,
                        "naam": target_dataset.naam,
                        "origin": this.from,
                    }));
                    this.origin_obj(this.from_obj);
            },
            drop(ev, location, action){
                ev.preventDefault();
                ev.stopPropagation();
                this.switchRenderMode('normaal');
                let transfer = JSON.parse(ev.dataTransfer.getData("text"));
                if(transfer.naam === location) {
                    this.updateList({id: transfer.id,
                                      type: location,
                                     list_to_link_to: action,
                                     origin: transfer.origin});
                }else{
                    alert("U kunt financieele groeperingen en personele groeperingen niet aan elkar koppelen");
                }
            },
            dragend(){
                this.switchRenderMode('normaal');
            },
            switched(index){
                this.linkIndex = index;
            },
            scrollBarShow(){
                if(this.list.length > 4){
                    this.scroll = true;
                }else{
                }
                return this.scroll
            }
        },
        computed:{
            ...mapGetters({
//                last_selected_item: types.LAST_SELECTED_ITEM

            })
        }
    }
</script>
<style scoped src="../../css-mixins/niveaus_groepering.css">

</style>