<template>
    <div class="dtps_layover_groepering">

    </div>
</template>
<script>
    export default{
        data(){
            return {

            }
        }
    }
</script>
<style scoped>
    .dtps_layover_groepering{
        width: 100%;
        height: 100%;

    }
</style>