<template>
    <div>
        <div class="dtps_groeperingen_level_box_full"   v-if="tree.length > 0">
            <p v-if="tree.length > 0">Niveau {{levelName + 1}}</p>
            <p v-if="tree.length === 0">Geen niveaus gevonden</p>
            <ul>
                <div :class="{scrollIt: scrollBarShow}">
                        <li v-for="(child, index) in tree"
                            :key="child.id"
                            v-on:dblclick="selectLevelItem(child)"
                            v-on:click="nextNiveau(index, levelName) | switched(index)"
                            :class="{'selectedLevel':(selected_item.id === child.id), 'selected':index === linkIndex, 'disabled_test': ((tree_render_mode==='financieel_groeperingen' && !child.accepteert_financieel_groeperingen.boolean)
                                                                                || (tree_render_mode==='personeel_groeperingen' && !child.accepteert_personeel_groeperingen.boolean))}">
                            <div></div><div>{{child.code}} - {{child.naam}}</div>
                            <div class="drop_element" v-on:drop="drop($event, index)"  v-on:dragover="allowDrop($event)" >
                            <span class="can_be_linked"></span>
                            </div>
                        </li>
                </div>
            </ul>

        </div>
        <div class="dtps_groeperingen_level_box_empty" v-else> Geen meer niveaus gevonden
        </div>
        <levels class="dtps_groeperingen_level_box"  v-if="childcount > 0" :tree="children" :selected_indices="selected_subs" :levelName = "(levelName + 1)">
        </levels>
    </div>

</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as types from '../../stores/groeperingStore/types';

    export default {
        name: "levels",
        props:[
            'tree',
            'selected_indices',
            'levelName',
            'from_obj'
        ],
        data(){
            return {
                scroll: false,
                linkIndex: 0,
                component: "levels"
            }
        },
        computed:{
            ...mapGetters({
                tree_render_mode: types.TREE_RENDER_MODE,
                origin_obj: types.ORIGIN_OBJ,
                selected_item: types.SELECTED_ITEM
            }),
            selected_level() {
                return this.selected_indices[0];

            },
            selected_subs() {
                return this.selected_indices.slice(1);
            },
            children: function() {
                return (typeof (this.tree[this.selected_level]) === 'undefined' ? []  : this.tree[this.selected_level].children);
            },
            childcount: function() {
                return this.children.length;
            }
        },
        methods: {
            ...mapActions({
                updateListLevels: types.ACTION_UPDATE_LIST_LEVELS,
                nextLevel: types.ACTION_NEXT_LEVEL,
                changeSelectedItem: types.ACTION_SELECTED_ITEM_CHANGED,
                switchRenderMode: types.ACTION_TREE_RENDER_MODE
            }),
            scrollBarShow(){
                if (this.level.length > 8) {
                    this.scroll = true;
                } else {
                    this.scroll = false;
                }
                return this.scroll;
            },
            switched(index){
                this.linkIndex = index;
            },
            nextNiveau(index, level){
                this.nextLevel({index: index, level: level});
            },
            selectLevelItem(item){
                this.changeSelectedItem(item);
            },
            allowDrop(ev){
                ev.preventDefault();
            },
            drop(ev, i){
                ev.preventDefault();
                let transfer = JSON.parse(ev.dataTransfer.getData("text"));
                let destination = this.tree[i];
                this.switchRenderMode('normaal');

                //Set matching location of the list - financieel or personeel and check if possible to link
                if (destination.accepteert_financieel_groeperingen.boolean === true && transfer.naam === 'financieel_groeperingen') {
                    this.updateListLevels({
                        id: transfer.id,
                        type: transfer.naam,
                        destination: destination,
                        origin: transfer.origin,
                        origin_id: this.origin_obj.id
                    });
                }else if( destination.accepteert_financieel_groeperingen.boolean === false && transfer.naam === 'financieel_groeperingen'){
                    alert('U kunt hier geen groeperingen koppelen');
                }
                if (destination.accepteert_personeel_groeperingen.boolean === true && transfer.naam === 'personeel_groeperingen') {
                    this.updateListLevels({
                        id: transfer.id,
                        type: transfer.naam,
                        destination: destination,
                        origin: transfer.origin,
                        origin_id: this.origin_obj.id
                    });
                }else if(destination.accepteert_personeel_groeperingen.boolean === false && transfer.naam === 'personeel_groeperingen'){
                    alert('U kunt hier geen groeperingen koppelen');
                }
            }
        }
    }
</script>
<style scoped src="../../css-mixins/niveaus_groepering.css">
</style>
