<template>
    <div>
        <div class="dtps_gekoppeld" @click="openPannel" v-bind:title="titleText">
            <div class="dtps_gekoppeld_totals pull-left">{{errors}}</div>
            <div class="dtps_gekoppeld_totals pull-left">Logboek: {{logs.length == null ? 0: logs.length}}</div>
            <div class="dtps_gekoppeld_totals pull-right"><span v-html="icon"></span></div>
        </div>
        <transition name="slide" type="animation" appear>
            <div class="dtps_gropering" v-if="show">
                <div class="dpts_table_logs">
                    <p>Recente wijziging:  {{errors}}</p>
                    <ul v-if="logs.length > 0">
                        <div :class="{scrollItSmall: scrollBarShow}">
                            <li class="log_group"
                               v-for="(log, index) in logs"
                                :class="{'first_log_item': allowUndo(index) }"
                               >
                                {{ log.id ? 'Groepering: ' : '' }}
                                &nbsp;&nbsp;<span style="color: #3a79b8">"{{ log.groepering.dimension1 || log.groepering.dimension2 || log.groepering.dimension3 ? log.groepering.dimension1 : '(Leeg)' }}{{ log.groepering.dimension2 ? ' _ ' + log.groepering.dimension2 : '' }}{{ log.groepering.dimension3 ? ' _ ' + log.groepering.dimension3 : '' }}"</span>
                                &nbsp;&nbsp;Gewijzigd van:
                                <span style="color:  #3a79b8">{{ log.from }}</span>
                                {{ log.to ? 'naar: ' : '' }}
                                <span style="color: #3a79b8">{{ log.to }}</span>
                                <div v-if="allowUndo(index)" class="fa fa-undo undo_log" aria-hidden="true"  v-on:click="undoLastLinking(index)"> Klik - Laatste koppeling ongedaan maken</div>
                            </li>
                        </div>
                    </ul>
                    <ul v-else>
                        <li>Het Logboek is leeg</li>
                    </ul>
                </div>
            </div>
        </transition>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as types from '../../stores/groeperingStore/types';
    export default{
        data(){
            return{
                show: false,
                icon: '&plus;',
                scroll: false,
                title_text: ''
            }
        },
        methods:{
            ...mapActions({
                    undoLastLinkingAction: types.ACTION_UNDO_LAST_LINKING
            }),
            openPannel(){
                this.show = !this.show;
                if (this.show === true){
                    this.icon = '&ndash;';
                }else{
                    this.icon = '&plus;';
                }

            },
            scrollBarShow(){
                if(this.ongekkopeldePersonele.length > 6 || this.ongekkopeldeFinancieele.length > 6){
                    this.scroll = true;
                }else{
                }
                return this.scroll
            },
            allowUndo(index){
                if(index !== 0){
                    return false;
                }else{
                    return true;
                }
            },
            undoLastLinking(index){
                if(index === 0){
                    this.undoLastLinkingAction(this.lastObj[0]);
                }else{
                    console.log('any item');
                }
            }
        },
        computed:{
            ...mapGetters({
                logs: types.LOGS_LIST,
                lastObj: types.LAST_OBJ_CREATED,
                errors: types.ERRORS
            }),
            titleText(){
                if(this.show){
                    return this.title_text = 'Klik om te sluiten';
                }else{
                    return this.title_text = 'Klik om te openen';
                }
            }
        }
    }
</script>
<style scoped src="../../css-mixins/niveaus_groepering.css">

</style>