<template>
    <div>
        <div class="dtps_gekoppeld" @click="openPannel" v-bind:title="titleText">
            <div class="dtps_gekoppeld_totals pull-left">Aantal ongekkopelde groeperingen: {{ongekkopeldeFinancieele.length + ongekkopeldePersonele.length}}</div>
            <div class="dtps_gekoppeld_totals pull-right"><span v-html="icon"></span></div>
        </div>
        <transition name="slide" type="transition" appear>
        <div class="dtps_gropering" v-if="show">
            <groepering-list
                :list = "ongekkopeldeFinancieele"
                :from = "'ongekkopelde_fenancieele'"
                :from_obj = "'ongekkopelde'"
                :location = "financieel_groeperingen"
                :subtitle = "subtitle1"
                :action = "action"
            ></groepering-list>
            <groepering-list
                :list = "ongekkopeldePersonele"
                :from = "'ongekkopelde_personeele'"
                :from_obj = "'ongekkopelde'"
                :location = "personeel_groeperingen"
                :subtitle = "subtitle2"
                :action ="action"
            ></groepering-list>
        </div>
        </transition>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import GroeperingList from './GroeperingenList.vue';
    import * as types from '../../stores/groeperingStore/types';
    export default{
        data(){
          return{
              show: true,
              icon: '&ndash;',
              scroll: false,
              financieel_groeperingen: "financieel_groeperingen",
              subtitle1: "Financieele Groeperingen",
              personeel_groeperingen: "personeel_groeperingen",
              subtitle2: "Personeel Groeperingen",
              action: "unlinked",
              title_text: ''
            }
        },
        computed:{
            ...mapGetters({
                ongekkopeldeFinancieele: types.ONGEKKOPELDE_FINANCIEELE,
                ongekkopeldePersonele: types.ONGEKKOPELDE_PERSONELE
            }),
            titleText(){
                if (this.show){
                    return this.title_text = 'Klik om te sluiten';
                }else{
                    return this.title_text = 'Klik om te openen';
                }
            }

        },
        methods:{
            openPannel(){
                this.show = !this.show;
                if (this.show === true){
                    this.icon = '&ndash;';
                }else{
                    this.icon = '&plus;';
                }

            }

        },
        components:{
            groeperingList: GroeperingList
        }
    }
</script>
<style scoped src="../../css-mixins/niveaus_groepering.css">

</style>