<template>
    <div id="dtps_groepering_tree">
        <div class="columnset_selection">
            <div class="dtps_quick_menu small">
                <div>
                    <span>Geselecteerd Niveau: {{selected_item.code}} - {{selected_item.naam}}</span>
                </div>
                <div>
                    <span>{{title}}</span>
                </div>
            </div>
        </div>
        <div id="dtps_groepering_tables" v-if="childcount">
            <levels class="dtps_groeperingen_level_box"
                    :tree="[tree]"
                    :levelName="levelName"
                    :selected_indices="selected_indices"
                    :from_obj = "selected_item">
            </levels>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import Levels from './Levels.vue';
    import * as types from '../../stores/groeperingStore/types';
    export default{
        data(){
            return{
                title: 'Groepering',
                levelName: 0
            }
        },
        computed:{
            ...mapGetters({
                currentNiveau: types.CURRENT_NIVEAU,
                tree: types.TREE,
                selected_indices: types.SELECTED_INDICES,
                selected_item: types.SELECTED_ITEM
            }),
            childcount: function() {
                return (typeof this.tree.children === 'undefined' ? 0 : this.tree.children.length);
            }
        },
//            selectedItemsFilterChild:{
//                get(){
//                    let self = this;
//                    return self.currentNiveauChildren.filter((el)=>{
//                        return el.children !== false;
//                    });
//                }
//            }

        components:{
            levels: Levels
        }
    }

</script>
<style scoped src="../../css-mixins/niveaus_groepering.css">


</style>