<template>
    <div>
        <div class="modal-header">
            <span class="modal-header-reference">{{betrekking.personeelslid.naam}}<span v-if="betrekking.personeelslid.vacature"> (Vacature)</span></span>&nbsp;
            <span><jaar-periode :datum="betrekking.begindatum"></jaar-periode>&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;<jaar-periode :datum="betrekking.einddatum"></jaar-periode></span>
            <span class="modal-header-description">Wijzig WTF</span>
        </div>
        <div class="modal-body">
            <table>
                <thead>
                    <tr>
                        <th>Soort</th>
                        <th># WTF</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Regulier</td>
                        <td>0,4000</td>
                    </tr>
                    <tr>
                        <td>TU</td>
                        <td>0,2000</td>
                    </tr>
                    <tr>
                        <td>Huidige</td>
                        <td><input type="text" :value="betrekking.wtf.value" :class="{'error': !betrekking.wtf.isValid}" @input="updateModalDataNumber({key:'wtf', value: $event.target.value})" @keydown.enter="saveModalWtf"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Totaal</th>
                        <th><number4dec :number="total"></number4dec></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="modal-footer clearfix">
            <button class="modal-default-button button left" @click="hideModal">Annuleren</button>
            <button class="modal-default-button button right" @click="saveModalWtf">Opslaan</button>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import Numbre4Dec from '../main/Number4Dec.vue';
    import JaarPeriode from '../main/JaarPriode.vue';
    export default{
        data(){
          return{
              name:"modal-wft"
          }
        },
        computed:{
            ...mapGetters({
                betrekking: getters.MODALDATA
            }),
            total() {
                return this.betrekking.wtf.value + 1;
            },
            otherBetrekkingenWtfPerType() {
                let current_betrekking_id = this.betrekking.id;
                return this.betrekking.personeelslid.betrekkingen.filter(function(betrekking) {
                    return betrekking.data.id != current_betrekking_id;
                }).reduce(function(carry, betrekking) {
                    carry[betrekking.data.type] = carry[betrekking.data.type] + betrekking.data.wtf;
                }, []);
            }
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalWtf: actions.SAVE_MODAL_WTF,
                updateModalDataNumber: actions.UPDATE_MODAL_DATA_NUMBER
            })
        },
        components:{
            jaarPeriode: JaarPeriode,
            number4dec: Numbre4Dec
        }
    }
</script>
<style></style>