<template>
    <div>
        <div class="modal-header">
        <span class="modal-header-reference">{{betrekking.personeelslid.naam}}<span v-if="betrekking.personeelslid.vacature"> (Vacature)</span></span>&nbsp;
        <span><jaar-periode :datum="betrekking.begindatum"></jaar-periode>&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;<jaar-periode :datum="betrekking.einddatum"></jaar-periode></span>
        <span class="modal-header-description">Wijzig periodebereik</span>
        </div>
        <div class="modal-body">
            <period-selector :startdate="betrekking.startdate.value" :enddate="betrekking.enddate.value" :infinite="true"></period-selector>
        </div>
        <div class="modal-footer clearfix">
            <button class="modal-default-button button left" v-on:click="hideModal">Annuleren</button>
            <button class="modal-default-button button right" v-on:click="saveModalDates">Opslaan</button>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import JaarPeriode from '../main/JaarPriode.vue';
    import PeriodSelector from '../main/PeriodSelector.vue';

    export default{
        computed:{
            ...mapGetters({
                betrekking:getters.MODALDATA
            })
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalDates: actions.SAVE_MODAL_DATES
            })
        },
        components:{
            jaarPeriode: JaarPeriode,
            periodSelector: PeriodSelector
        }
    }

</script>
<style></style>