<template>
    <div>
        <div class="modal-header">
            <span class="modal-header-reference">{{vacature.naam}}<span v-if="vacature.vacature"> (Vacature)</span></span>&nbsp;
            <span class="modal-header-description">Verwijder vacature</span>
        </div>
        <div class="modal-body">
            <span>Weet u zeker dat u deze vacature wilt verwijderen?</span>
        </div>
        <div class="modal-footer clearfix">
            <button class="modal-default-button button left" @click="hideModal">Annuleren</button>
            <button class="modal-default-button button right" @click="saveModalDeleteVacature(vacature.id)">Verwijderen</button>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';

    export default{
        computed:{
            ...mapGetters({
                vacature: getters.MODALDATA
            })
        },
        methods: {
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalDeleteVacature: actions.SAVE_MODAL_DELETE_VACATURE,
                updateModalData: actions.UPDATE_MODAL_DATA
            })
        }
    }
</script>
<style></style>