<template>
    <div>
        <div class="modal-header">
            <span class="modal-header-reference">{{personeelslid.naam}}<span v-if="personeelslid.vacature"> (Vacature)</span></span>&nbsp;
            <span class="modal-header-description">Betrekking toevoegen</span>
        </div>
        <div class="modal-body">
            <span>Voeg betrekking toe</span>
        </div>
        <div class="modal-footer clearfix">
            <button class="modal-default-button button left" @click="hideModal">Annuleren</button>
            <button class="modal-default-button button right" @click="saveModalAddBetrekking">Opslaan</button>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    export default{
        computed:{
            ...mapGetters({
                personeelslid: getters.MODALDATA
            })
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalAddBetrekking: actions.SAVE_MODAL_ADD_BETREKKING,
                updateModalData: actions.UPDATE_MODAL_DATA
            })
        }
    }
</script>
<style></style>