<template>
    <div>
        <div class="modal-header">
            <span class="modal-header-reference">{{betrekking.personeelslid.naam}}<span v-if="betrekking.personeelslid.vacature"> (Vacature)</span></span>&nbsp;
            <span><jaar-periode :datum="betrekking.begindatum"></jaar-periode>&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;<jaar-periode :datum="betrekking.einddatum"></jaar-periode></span>
            <span class="modal-header-description">Wijzig de beginstand<br>cao/schaal/trede<br>voor deze begroting</span>
        </div>
        <div class="modal-body">
            <div>
                <select @input="updateModalDataCao">
                    <option value="">Selecteer CAO</option>
                    <option v-for="cao in caos" :value="cao.id" :selected="cao.id == betrekking.cao.value">{{cao.code}}</option>
                </select>
                <select v-if="betrekking.cao.value" @input="updateModalDataSchaal">
                    <option value="">Selecteer Schaal</option>
                    <option v-for="schaal in caos[betrekking.cao.value].schalen" :value="schaal.id" :selected="schaal.id == betrekking.schaal.value">{{schaal.code}}</option>
                </select>
                <select v-if="betrekking.cao.value && betrekking.schaal.value" @input="updateModalDataTrede">
                    <option value="">Selecteer Trede</option>
                    <option v-for="trede in caos[betrekking.cao.value].schalen[betrekking.schaal.value].treden" :value="trede.id" :selected="trede.id == betrekking.trede.value">{{trede.code}}</option>
                </select>
            </div>
            <br>
            <div>
                <select @input="updateModalData({key: 'jaar', value: $event.target.value})" :disabled="jpDisabled">
                    <option v-for="jaar in fromYears" :value="jaar" :selected="jaar == betrekking.jaar.value">{{jaar}}</option>
                </select>
                <select @input="updateModalData({key: 'maand', value: $event.target.value})" :disabled="jpDisabled">
                    <option v-for="maand in fromMonths" :value="maand" :selected="maand == betrekking.maand.value">{{maand}}</option>
                </select>
                <span style="margin-left: 10px;"><number2euro :number="selected_cao_costs"></number2euro></span>
            </div>
        </div>
        <div class="modal-footer clearfix">
            <button class="modal-default-button button left" @click="hideModal">Annuleren</button>
            <button class="modal-default-button button right" @click="saveModalSchaal">Opslaan</button>
        </div>
      </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import * as resources from '../../../stores/formatieStore/types/resources';
    import JaarPeriode from '../main/JaarPriode.vue';
    import Number2Euro from '../main/Number2Euro.vue';
    export default{
        computed:{
            ...mapGetters({
                betrekking: getters.MODALDATA,
                caos: getters.CAOS,
                jaren: getters.JAREN,
                laangse_jaar: getters.LAAGSTE_JAAR,
                hoogste_jaar:getters.HOOGSTE_JAAR,
                selected_cao_costs: getters.SELECTED_CAO_COSTS
            }),
            jaarRange() {
                let jaren = {laagste_jaar: this.hoogste_jaar, hoogste_jaar: this.laagste_jaar, laagste_maand: 1, hoogste_maand: 12};
                let begindatum = this.betrekking.contract.begindatum.split('-');
                let einddatum = this.betrekking.contract.einddatum.split('-');

                if (parseInt(begindatum[0]) > parseInt(jaren.laagste_jaar)) {
                    jaren.laagste_jaar = begindatum[0];
                    jaren.laagste_maand = begindatum[1];
                }
                if (parseInt(einddatum[0]) < parseInt(jaren.hoogste_jaar)) {
                    jaren.hoogste_jaar = einddatum[0];
                    jaren.hoogste_maand = einddatum[1];
                }

                return this.jaren.reduce(function(carry, jaar) {
                    if (!carry[jaar]) {
                        carry[jaar] = [];
                    }
                    if (jaar === jaren.laagste_jaar) {
                        for (let b = jaren.laagste_maand; b <= 12; b++) {
                            carry[jaar].push((b < 10 ? '0' : '') + b);
                        }
                    } else if (jaar === jaren.hoogste_jaar) {
                        for (let e = 1; e <= jaren.hoogste_maand; e++) {
                            carry[jaar].push((e < 10 ? '0' : '') + e);
                        }
                    } else {
                        for (let i = 1; i <= 12; i++) {
                            carry[jaar].push((i < 10 ? '0' : '') + i);
                        }
                    }
                    return carry;
                }, {});
            },
            fromMonths() {
                return this.jaarRange[this.betrekking.jaar.value];
            },
            fromYears() {
                return Object.keys(this.jaarRange);
            },
            jpDisabled() {
                return this.betrekking.schaal.original_value !== ''
                    && this.betrekking.cao.original_value !== ''
                    && this.betrekking.cao.value === this.betrekking.cao.original_value
                    && this.betrekking.schaal.value === this.betrekking.schaal.original_value
            }
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalSchaal: actions.SAVE_MODAL_SCHAAL,
                updateModalData: actions.UPDATE_MODAL_DATA,
                updateSelectedCaoCosts: actions.UPDATE_SELECTED_CAO_COSTS
            }),
            updateModalDataCao(event) {
                this.updateModalData({key: 'trede', value:''});
                this.updateModalData({key: 'schaal', value: ''});
                this.updateModalData({key:'cao', value: event.target.value});
                this.updateSelectedCaoCosts();
            },
            updateModalDataSchaal(event) {
                this.updateModalData({key: 'trede', value: ''});
                this.updateModalData({key: 'schaal', value: event.target.value});
                this.updateSelectedCaoCosts();
            },
            updateModalDataTrede(event) {
                this.updateModalData({key: 'trede', value: event.target.value});
                this.updateSelectedCaoCosts();
            }
        },
        components:{
            jaarPeriode: JaarPeriode,
            number2euro: Number2Euro
        }
    }
</script>
<style></style>