<template>
    <div>
        <div class="modal-header">
            <span class="modal-header-reference">{{betrekking.personeelslid.naam}}<span v-if="betrekking.personeelslid.vacature"> (Vacature)</span></span>&nbsp;
            <span><jaar-periode :datum="betrekking.begindatum"></jaar-periode>&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;<jaar-periode :datum="betrekking.einddatum"></jaar-periode></span>
            <span class="modal-header-description">Verwijder betrekking</span>
        </div>
        <div class="modal-body">
            <span>Weet u zeker dat u deze betrekking wilt verwijderen?</span>
        </div>
        <div class="modal-footer clearfix">
            <button class="modal-default-button button left" @click="hideModal">Annuleren</button>
            <button class="modal-default-button button right" @click="saveModalDeleteBetrekking(betrekking.id)">Verwijderen</button>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import JaarPeriode from '../main/JaarPriode.vue';

    export default{
        computed:{
            ...mapGetters({
                betrekking: getters.MODALDATA
            })
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalDeleteBetrekking: actions.SAVE_MODAL_DELETE_BETREKKING
            })
        },
        components:{
            jaarPeriode: JaarPeriode
        }
    }
</script>
<style></style>