<template>
    <div>
        <div class="modal-header">
            <input type="text" :value="vacature.description.value" placeholder="Vacature omschrijving">
            <span class="modal-header-description">Vacature toevoegen</span>
        </div>
    <div class="modal-body">
        <div>
            <select @input="updateModalData({key:'functiecategorie', value: $event.target.value})">
                <option value="1">Kies een functiecategorie</option>
                <option v-for="(id, name) in functiecategorien" :selected="id == vacature.functiecategorie.value" :value="id">{{name}}</option>
            </select>
            <input @input="" type="text" :value="vacature.functiondescription.value" placeholder="Functieomschrijving">
            <input @input="" type="text" value="01-01-1990">
        </div>
        <period-selector :startdate="vacature.startdate.value" :enddate="vacature.enddate.value" :infinite="false"></period-selector>
        <div>
            <input @input="" type="text" :value="vacature.wtf.value" placeholder="WTF">
            <input @input="" type="text" :value="vacature.toelage.value" placeholder="Toelage">
        </div>
        <div>
            <select @input="updateModalData({key: 'kostenplaats', value: $event.target.value})">
                <option value="">Selecteer kostenplaats</option>
                <option v-for="(id, name) in kostenplaatsen" :selected="id == vacature.kostenplaats.value" :value="id">{{name}}</option>
            </select>
            <select @input="updateModalDataCao">
                <option value="">Selecteer CAO</option>
                <option v-for="cao in caos" :selected="cao.id == vacature.cao.value" :value="cao.id">{{cao.code}}</option>
            </select>
            <select v-if="vacature.cao.value" @input="updateModalDataSchaal">
                <option value="">Selecteer Schaal</option>
                <option v-for="schaal in caos[vacature.cao.value].schalen" :selected="schaal.id == vacature.schaal.value" :value="schaal.id">{{schaal.code}}</option>
            </select>
            <select v-if="vacature.cao.value && vacature.schaal.value" @input="updateModalData({key: 'trede', value: $event.target.value})">
                <option value="">Selecteer Trede</option>
                <option v-for="trede in caos[vacature.cao.value].schalen[vacature.schaal.value].treden" :selected="trede.id == vacature.trede.value" :value="trede.id">{{trede.code}}</option>
            </select>
        </div>
        (Persoonseigenschappen)
    </div>
    <div class="modal-footer clearfix">
        <button class="modal-default-button button left" @click="hideModal">Annuleren</button>
        <button class="modal-default-button button right" @click="saveModalAddVacature">Opslaan</button>
    </div>
</div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import PeriodSelector from '../main/PeriodSelector.vue';

    export default{
        computed:{
            ...mapGetters({
                vacature: getters.MODALDATA,
                caos: getters.CAOS,
                kostenplaatsen: getters.KOSTENPLAATSEN,
                functiecategorien: getters.FUNCTIECATEGORIEN
            })
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalAddVacature: actions.SHOW_MODAL_ADD_VACATURE,
                updateModalData: actions.UPDATE_MODAL_DATA
            }),
            updateModalDataCao(event) {
                this.updateModalData({key: 'trede', value: ''});
                this.updateModalData({key: 'schaal', value: ''});
                this.updateModalData({key: 'cao', value: event.target.value});
            },
            updateModalDataSchaal(event) {
                this.updateModalData({key: 'trede', value: ''});
                this.updateModalData({key: 'schaal', value: event.target.value});
            }
        },
        components:{
            periodSelector: PeriodSelector
        }
    }
</script>
<style></style>