<template>
    <div>
        <div class="modal-header">
            <span class="modal-header-reference">{{personeelslid.naam}}<span v-if="personeelslid.vacature"> (Vacature)</span></span>&nbsp;
            <span class="modal-header-description">Eigenschappen wijzigen</span>
        </div>
        <div class="modal-body">
            <input @input="" type="text" :value="personeelslid.personeelsnummer"><br>
            <br>
            <select @input="">
                <option>Selecteer geslacht</option>
                <option value="1" :selected="personeelslid.geslacht == '1'">Man</option>
                <option value="2" :selected="personeelslid.geslacht == '2'">Vrouw</option>
            </select>&nbsp;&nbsp;
            <input @input="" type="text" :value="personeelslid.geboortedatum">&nbsp;&nbsp;<span>{{ age }} jaar</span><br>
            <br>
            <span>Boventallig</span>&nbsp;&nbsp;<input type="checkbox"><br>
        </div>
        <div class="modal-footer clearfix">
            <button class="modal-default-button button left" @click="hideModal">Annuleren</button>
            <button class="modal-default-button button right" @click="saveModalEditProperties">Opslaan</button>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    export default{
        computed: {
            ...mapGetters({
                personeelslid: getters.MODALDATA
            }),
            age() {
                let birth = new Date(this.personeelslid.geboortedatum);
                let diff = new Date(Date.now() - birth.getTime());

                return Math.abs(diff.getUTCFullYear() - 1970);
            }
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalEditProperties: actions.SAVE_MODAL_EDIT_PROPRETIES
            })
        }
    }
</script>
<style></style>