<template>
    <div>
        <div class="modal-header">
            <span class="modal-header-reference">{{betrekking.personeelslid.naam}}<span v-if="betrekking.personeelslid.vacature"> (Vacature)</span></span>&nbsp;
            <span><jaar-periode :datum="betrekking.begindatum"></jaar-periode>&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp;&nbsp;<jaar-periode :datum="betrekking.einddatum"></jaar-periode></span>
            <span class="modal-header-description">Wijzig toelages</span>
        </div>
        <div class="modal-body">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Betrekking</th>
                    <th>Totaal oud</th>
                    <th>Totaal nieuw</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Toelage</td>
                    <td><input type="text" :value="betrekking.toelage.value" :class="{'error': !betrekking.toelage.isValid}" @input="updateModalDataNumber({ key: 'toelage', value: $event.target.value})" @keydown.enter="focusOnNextInput"></td>
                    <td><span><number2euro :number="betrekkingToelageOther + betrekking.toelage.original_value"></number2euro></span></td>
                    <td><span><number2euro :number="parseFloat(betrekkingToelageOther + betrekking.toelage.value)"></number2euro></span></td>
                </tr>
                <tr>
                    <td>Toelage BHV</td>
                    <td><input type="text" :value="betrekking.toelageBhv.value" :class="{'error': !betrekking.toelageBhv.isValid}" @input="updateModalDataNumber({ key: 'toelageBhv', value: $event.target.value })" @keydown.enter="focusOnNextInput"></td>
                    <td><span><number2euro :number="betrekkingToelageBhvOther + betrekking.toelageBhv.original_value"></number2euro></span></td>
                    <td><span><number2euro :number="parseFloat(betrekkingToelageBhvOther + betrekking.toelageBhv.value)"></number2euro></span></td>
                </tr>
                <tr>
                    <td>Toelage Fitness</td>
                    <td><input type="text" :value="betrekking.toelageFitness.value" :class="{'error': !betrekking.toelageFitness.isValid}" @input="updateModalDataNumber({ key: 'toelageFitness', value: $event.target.value })" @keydown.enter="focusOnNextInput"></td>
                    <td><span><number2euro :number="betrekkingToelageFitnessOther + betrekking.toelageFitness.original_value"></number2euro></span></td>
                    <td><span><number2euro :number="parseFloat(betrekkingToelageFitnessOther + betrekking.toelageFitness.value)"></number2euro></span></td>
                </tr>
                <tr>
                    <td>Toelage Reiskosten</td>
                    <td><input type="text" :value="betrekking.toelageReiskosten.value" :class="{'error': !betrekking.toelageReiskosten.isValid}" @input="updateModalDataNumber({ key: 'toelageReiskosten', value: $event.target.value})" @keydown.enter="focusOnNextInput"></td>
                    <td><span><number2euro :number="betrekkingToelageReiskostenOther + betrekking.toelageReiskosten.original_value"></number2euro></span></td>
                    <td><span><number2euro :number="parseFloat(betrekkingToelageReiskostenOther + betrekking.toelageReiskosten.value)"></number2euro></span></td>
                </tr>
                <tr>
                    <td>Inkomstentoelage</td>
                    <td><input type="text" :value="betrekking.inkomenstoelage.value" :class="{'error': !betrekking.inkomenstoelage.isValid}" @input="updateModalDataNumber({ key: 'inkomenstoelage', value: $event.target.value })" @keydown.enter="saveModalToelages"></td>
                    <td><span><number2euro :number="betrekkingInkomenstoelageOther + betrekking.inkomenstoelage.original_value"></number2euro></span></td>
                    <td><span><number2euro :number="parseFloat(betrekkingInkomenstoelageOther + betrekking.inkomenstoelage.value)"></number2euro></span></td>
                </tr>
            </tbody>
        </table>
        <p>Uitlooptoeslag</p>
        <p>Bindingstoelage</p>
        <p>Toelage directeuren</p>
        <p>Schaal uitloopbedrag</p>
        </div>
        <div class="modal-footer clearfix">
            <button class="modal-default-button button left" @click="hideModal">Annuleren</button>
            <button class="modal-default-button button right" @click="saveModalToelages">Opslaan</button>
        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    import * as getters from '../../../stores/formatieStore/types/getters';
    import * as actions from '../../../stores/formatieStore/types/actions';
    import Number2Euro from '../main/Number2Euro.vue';
    import JaarPeriode from '../main/JaarPriode.vue';
    export default{
        computed:{
            ...mapGetters({
                betrekking: getters.MODALDATA
            }),
            betrekkingToelageOther() {
                let current_betrekking_id = this.betrekking.id;
                return this.betrekking.personeelslid.betrekkingen.reduce(function(carry, betrekking) {
                    if (betrekking.data.id !== current_betrekking_id) {
                        carry = carry + betrekking.data.toelage;
                    }
                    return carry;
                }, 0);
            },
            betrekkingToelageBhvOther() {
                let current_betrekking_id = this.betrekking.id;
                return this.betrekking.personeelslid.betrekkingen.reduce(function(carry, betrekking) {
                    if (betrekking.data.id !== current_betrekking_id) {
                        carry = carry + betrekking.data.toelage_bhv;
                    }
                    return carry;
                }, 0);
            },
            betrekkingToelageFitnessOther() {
                let current_betrekking_id = this.betrekking.id;
                return this.betrekking.personeelslid.betrekkingen.reduce(function(carry, betrekking) {
                    if (betrekking.data.id !== current_betrekking_id) {
                        carry = carry + betrekking.data.toelage_fitness;
                    }
                    return carry;
                }, 0);
            },
            betrekkingToelageReiskostenOther() {
                let current_betrekking_id = this.betrekking.id;
                return this.betrekking.personeelslid.betrekkingen.reduce(function(carry, betrekking) {
                    if (betrekking.data.id !== current_betrekking_id) {
                        carry = carry + betrekking.data.toelage_reiskosten;
                    }
                    return carry;
                }, 0);
            },
            betrekkingInkomenstoelageOther() {
                let current_betrekking_id = this.betrekking.id;
                return this.betrekking.personeelslid.betrekkingen.reduce(function(carry, betrekking) {
                    if (betrekking.data.id !== current_betrekking_id) {
                        carry = carry + betrekking.data.inkomenstoelage;
                    }
                    return carry;
                }, 0);
            }
        },
        methods:{
            ...mapActions({
                hideModal: actions.HIDE_MODAL,
                saveModalToelages: actions.SAVE_MODAL_TOELAGES,
                updateModalDataNumber: actions.UPDATE_MODAL_DATA_NUMBER
            }),
            focusOnNextInput(event) {
                event.target.parentElement.parentElement.nextElementSibling.getElementsByTagName('input')[0].focus()
            }
        },
        components:{
            jaarPeriode: JaarPeriode,
            number2euro: Number2Euro
        }
    }

</script>
<style></style>