<template>
    <div id="dtps_groeperingen">
        <groepering-tree></groepering-tree>
        <transition-group name="slide" type="transition" appear>
            <gekoppeld :key="1"></gekoppeld>
            <ongekkopeld :key="2"></ongekkopeld>
            <log :key="3"></log>
        </transition-group>

    </div>
</template>
<script>
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';
    import Tree from '././viewsGroepering/Tree.vue';
    import Gekoppeld from '././viewsGroepering/Gekoppeld.vue';
    import Ongekoppeld from '././viewsGroepering/Ongekoppeld.vue';
    import Log from '././viewsGroepering/Log.vue';
    import * as types from '../stores/groeperingStore/types';
export default{
    data(){
        return{
          level: this.currentNiveau
        }
    },
    computed:{
        ...mapGetters({
            currentNiveau: types.CURRENT_NIVEAU
        })
    },
    methods:{
        ...mapActions({
            initNiveau: types.ACTION_CURRENT_NIVEAU
        })
    },
    components:{
        'groepering-tree': Tree,
         gekoppeld:Gekoppeld,
         ongekkopeld: Ongekoppeld,
         log: Log
    },
    created(){
        this.initNiveau();
    }
}
</script>
<style scoped src="../css-mixins/niveaus_groepering.css">
</style>