<template>
    <div id="dtps_app">
        <dtps-groepering></dtps-groepering>
    </div>
</template>

<script>
    import Groepering from './components/Groepering.vue';
    export default {
        name: 'app',
        data () {
            return {

            }
        },
        components:{
            dtpsGroepering: Groepering
        }
    }
</script>

<style scoped>
</style>



