<template>
    <div id="dtps_app_formatie">
    	<modal></modal>
        <formatie-main></formatie-main>
    </div>
</template>

<script>
    import Formatie from './components/begrotingFormatie/Formatie.vue';
    import Modal from './components/begrotingFormatie/Modal.vue';
	import * as resources from './stores/formatieStore/types/resources';
	import {mapActions} from 'vuex';
	import {mapGetters} from 'vuex';



	export default {
		created(){
			console.log('created formatie app');
			this.loadContextData();
		},
        name: 'formatie',
        components:{
            formatieMain: Formatie,
            modal: Modal
        },
		methods:{
			...mapActions({
				loadContext: resources.LOAD_CONTEXT
			}),
			loadContextData(){
				this.loadContext();
			}
		}
    }
</script>

<style src="./css-mixins/begroting_formatie.css">
</style>

